---
import Layout from "../layouts/layout.astro";
---

<Layout
    title="Página no encontrada!"
    nameContent="Error 404 | Página no encontrada"
    contenido="Ups, parece que tenemos un problema, es mejor que volvamos al inicio."
>
    <div class="containerBody">
        <div class="containerBody-content">
            <section>
                <h1>¡Oh no!</h1>

                <p style="padding-left: 8px;">
                    Parece que una cáscara de plátano te jugó una mala pasada.
                </p>
                <p>¡Rápido, pincha en el botón para regresar!</p>

                <a href="/">
                    <button>Volver al inicio</button>
                </a>
            </section>

            <aside>
                <img src="/public/images/banana.png" alt="banana" />
            </aside>
        </div>
    </div>
</Layout>
