---
import Card from '../components/Card.astro';
---

<link rel="stylesheet" href="/public/styles/aside.css">

<aside id="aside">

    <h1 class="acercaDe">Nosotros</h1>

    <Card 
        title="Misión"
        text="En Season Harvest, nos dedicamos a proporcionar frutas, verduras e insumos de alta calidad, frescos y confiables, que apoyen el éxito de restaurantes y hoteles. Nuestro compromiso es ofrecer productos seleccionados con cuidado, entregados con puntualidad, para garantizar la excelencia en cada cocina que servimos."
    />

    <Card 
        title="Visión"
        text="Ser el aliado preferido de los restaurantes y hoteles, reconocidos por nuestra calidad, confiabilidad y servicio excepcional. Aspiramos a liderar el mercado de distribución sostenible, promoviendo prácticas responsables y construyendo relaciones sólidas con nuestros clientes y productores locales."
        />
        
        <Card 
        title="Objetivo"
        text="Facilitar a nuestros clientes el acceso a productos frescos y esenciales con un servicio personalizado y eficiente, optimizando la operación de sus cocinas para que puedan enfocarse en lo que mejor hacen: crear experiencias gastronómicas inolvidables."
    />

</aside>

