

<link rel="stylesheet" href="/public/styles/carrusel.css">

<div id="productos" class="containerCarrusel">

    <h1>Productos</h1>

    <div id="contentItemCarrusel">

        <div class="itemCarrusel">
            <div id="tarjetaCarrusel1" class="tarjetaCarrusel" >
                
            </div>

            <div class="flechasCarrusel">
                <a href="#tarjetaCarrusel3">
                    <i>🡨</i>
                </a>
                <a href="#tarjetaCarrusel2">
                    <i>🡪</i>
                </a>
            </div>
        </div>

        <div class="itemCarrusel">
            <div id="tarjetaCarrusel2"class="tarjetaCarrusel">
                
            </div>

            <div class="flechasCarrusel">
                <a href="#tarjetaCarrusel1">
                    <i>🡨</i>
                </a>
                <a href="#tarjetaCarrusel3">
                    <i>🡪</i>
                </a>
            </div>
        </div>

        <div class="itemCarrusel">
            <div id="tarjetaCarrusel3" class="tarjetaCarrusel">
                
            </div>

            <div class="flechasCarrusel">
                <a href="#tarjetaCarrusel2">
                    <i>🡨</i>
                </a>
                <a href="#tarjetaCarrusel1">
                    <i>🡪</i>
                </a>
            </div>
        </div>

    </div>

    

</div>
