---
import IconoEmail from '../components/icons/email.jsx';
import Iconowsp from '../components/icons/wsp.jsx'
---
<link rel="stylesheet" href="/public/styles/contact.css">

<main>
    <div id="contacto" class="containerContacto">

        <div class="containerContacto-titulo">
            <h1>Contacto</h1>
            <p>¿Tienes preguntas? Aqui estamos para ayudar.</p>
        </div>

        <div class="containerContacto-body">
            <a href="https://wa.me/+56966177010" target="_blank" class="containerLink">
                <Iconowsp />
                <h2>WhatsApp</h2>
                <span>+56 (9) 6617 7010</span>
            </a>
        
            <a href="mailto:seasonharvest99@gmail.com" target="_blank" class="containerLink">
                <IconoEmail />
                <h2>Email</h2>
                <span>seasonharvest99@gmail.com</span>
            </a>
        </div>

    </div>
</main>
