---
import IconGitHub from '../components/icons/github.jsx'
---

<link rel="stylesheet" href="/public/styles/footer.css">

<footer>

    <div class="containerFooter-body">
        
        <h1>Copyright © 2025 Season Harvest. Todo los derechos reservador.</h1>

        <a href="https://github.com/Smett-Bayraktar" target="_blank"><IconGitHub /> GitHub del desarrolador.</a>

    </div>


</footer>