<link rel="stylesheet" href="../../public/styles/products.css" />
<link rel="stylesheet" href="styles/products.css" />
<div id="Producto" class="containerProduct">
    <div class="containerProduct-types">
        <div class="containerTypes-left">
            <h2>Nuestros Productos</h2>
            <div class="typesListas">
                <li>Frutas y Verduras</li>
                <li>Frutas Tropicales</li>
                <li>Setas y Hongos</li>
                <li>Productos Congelados</li>
                <li>Frutos Secos</li>
                <li>Productos Veganos</li>
                <li>Charcutería</li>
                <li>Otros - Aseo - Complementos</li>
            </div>
            <div class="linksProductos">
                <a
                    style="color: var(--green-color); background-color: var(--white-color); border: 2px solid var(--green-color);"
                    href="/clientes"
                    rel="noopener noreferrer"
                >
                    Productos Clientes ➜
                </a>
                <a
                    style="border: 2px solid var(--green-color)"
                    href="https://wa.me/+56966177010?text=Hola%2C%20quisiera%20obtener%20más%20información%20sobre%20los%20productos."
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Más informacion ➜
                </a>
            </div>
        </div>
        <div class="containerTypes-right"></div>
    </div>
    <div class="containerProduct-Delivery">
        <div class="containerDelivery-left"></div>
        <div class="containerDelivery-right">
            <h2>Abastecemos a</h2>
            <div class="typesListas">
                <li>Restaurantes y Bares</li>
                <li>Hoteles</li>
                <li>Banqueteras</li>
                <li>Cocinas</li>
                <li>Empresas y Oficinas</li>
                <li>Colegios</li>
                <li>Casas de reposo</li>
            </div>
            <a
                style="border: 2px solid var(--green-color)"
                href="https://wa.me/+56966177010?text=Hola%2C%20quisiera%20obtener%20más%20información%20acerca%20de%20a%20quiénes%20abastecen."
                target="_blank"
                rel="noopener noreferrer"
            >
                Más informacion ➜
            </a>
        </div>
    </div>
</div>

<style>
    .linksProductos {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        gap: 1rem;
        align-items: center;
    }
</style>
