:root {
    --white-color: #fff;
    --cream-color: #F3F4EF;
    --dark-color: #252525;
    --green-color: #0d5a48;
    --violet-color: #6709a9;
    --yellow-color: #f4b727;
    --mustard-color: #ef9a18;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.containerBody {
    background: linear-gradient(to right, var(--mustard-color), var(--yellow-color), var(--yellow-color), var(--yellow-color));
    width: 100%;
}

@media(max-width: 1327px) {
    .containerBody {
        background: linear-gradient(to bottom, var(--mustard-color), var(--yellow-color), var(--yellow-color), var(--yellow-color), var(--yellow-color));
        width: 100%;
    }
}

.containerBody-content {
    padding: 20px 5%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

section {
    width: auto;
}

section h1 {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    margin-bottom: 5px;
    color: var(--cream-color);
}

section p {
    margin: 5px 0;
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    color: var(--dark-color);
}

section a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

section button {
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    padding: .75rem 2.5rem;
    border: none;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 800;
    color: var(--white-color);
    background-color: var(--dark-color);
    transition: ease-in-out .3s;
}

section button:hover {
    color: var(--dark-color);
    background-color: var(--white-color);
}

aside {
    width: auto;
}

aside img {
    max-width: 512px;
}

@media(max-width: 690px) {
    .containerBody-content {
        margin: 0;
        padding: 20px 2%;
        width: 100%;
    }

    aside img {
        max-width: 312px;
    }
}

@media(max-width: 1055px) {
    .containerBody-content {
        margin: 0;
        padding: 20px 2%;
        width: 100%;
    }

    aside img {
        width: 412px;
    }
}

@media(max-width: 425px) {
    section h1 {
        font-size: 50px;
    }

    section p {
        font-size: 17px;
    }

    section button {
        font-size: 18px;
    }
}