.containerCard {
    width: 350px;
    height: 280px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    padding: 0 10px;
    line-height: 1.5;
    background-color: var(--white-color);
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 120px 0 0 0;
}

.containerCard h1 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: var(--green-color);
    text-align: center;
}

.containerCard p {
    padding: 2px;
    font-weight: 300;
    font-size: 17px;
}