footer {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid .5px rgba(128, 128, 128, 0.248);
    z-index: 1;
    position: relative;
    background: linear-gradient(to top, var(--white-color) 0%, var(--white-color) 50%, var(--cream-color) 100%);
}

.containerFooter-body {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerFooter-body p {
    font-size: 17px;
    margin: 10px 0px 0px 0px;
    padding: 5px;
    text-align: center;
    opacity: 0.5;
}

.containerFooter-body a,
.containerSocial-icons a {
    font-size: 17px;
    color: var(--dark-color);
    text-decoration: none;
    transition: ease-in-out .3s;
    opacity: .6;
    display: flex;
    align-items: center;
    gap: 10px;
}

.containerFooter-body a:hover,
.containerSocial-icons a:hover {
    opacity: 1;
}

/*Contenedor de Iconos*/
.containerSocial {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.167);
    padding: 20px 0;
}

.containerSocial p {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}

.containerSocial-icons {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.containerSocial-icons-box {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}