:root {
    --white-color: #fff;
    --cream-color: #F3F4EF;
    --dark-color: #252525;
    --green-color: #0d5a48;
    --violet-color: #6709a9;
    --yellow-color: #f4b727;
    --mustard-color: #ef9a18;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../images/Fondo4.jpg);
    background-position: top;
}

.containerBody {
    min-height: 100dvh;
    font-size: .78rem;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto auto auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}