section {
    height: 756px;
    padding: 20px 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--white-color) 0%, var(--white-color) 50%, var(--cream-color) 100%);
    overflow: hidden;
    position: relative;
}

@media (max-width: 1024px) {
    section {
        height: auto;
    }
}

/*Carta de seccion*/
.containerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    max-width: 100%;
    overflow: hidden;
    margin: auto auto;
    background-color: var(--white-color);
}


.containerSection-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: justify;
    padding: 20px 10px;
}

.containerSection-left h1 {
    font-size: 30px;
    font-weight: 800;
    color: var(--green-color);
    margin: 0 0 30px;
    text-transform: uppercase;
    text-align: center;
}

.containerSection-left p {
    font-size: 17px;
    margin-top: 2%;
    padding: 5px;
    line-height: 1.5;
}

.containerSection-right {
    width: 50%;
    height: 100%;
    text-align: center;
    border: none;
    border-radius: 4px 0 0 10px;
}

.img-bg {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .img-bg {
        height: 100%;
    }
}

@media (max-width: 1140px) {
    .containerSection-left {
        text-align: left;
        line-height: 1.3;
    }

    .containerSection-left h1 {
        font-size: 25px;
    }
}

@media (max-width: 890px) {
    .containerSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .containerSection-left {
        width: 100%;
    }

    .containerSection-right {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .img-bg {
        width: 100%;
        object-fit: cover;
        max-height: 100%;

    }
}

@media (max-width: 530px) {


    .img-bg {
        margin-top: 27px;
    }
}

@media (max-width: 430px) {
    .containerSection-left h1 {
        text-align: center;
    }
}